.vs
BlackJack/bin
BlackJack/obj
BlackJack/BlackJack.csproj

BlackJack.DataAccess/bin
BlackJack.DataAccess/obj
BlackJack.DataAccess/BlackJackDataAccess.csproj

BlackJack.Entities/bin
BlackJack.Entities/obj
BlackJack.Entities/BlackJackEntities.csproj

BlackJack.Services/bin
BlackJack.Services/obj
BlackJack.Services/BlackJackServices.csproj

BlackJack.ViewModels/bin
BlackJack.ViewModels/obj
BlackJack.ViewModels/BlackJackViewModels.csproj
