<p>
  statistic works!
</p>

<button (click)="onBack()">Back to Game</button>
<br><br><br>


<div class="gameStat" *ngIf="isGame">
  <div class="gameProp">GameId: {{gameRes.gameId}}</div>
  <div class="gameProp">Cardleft: {{gameRes.cardsleft}}</div>
  <div class="gameProp" id="pl"> User
    <div class="playerProp">Name: {{gameRes.user.name}}</div>
    <div class="playerProp">Score: {{gameRes.user.score}}</div>
      <div class="playerProp">
        <div class="cards"  *ngFor="let card of gameRes.user.cards">
            <div class="card">
                <div class="cardProp">{{card.ranks}}</div>
                <div class="cardProp">{{card.suit}}</div>
                <div class="cardProp">{{card.value}}</div>
            </div>
        </div>
      </div><br>
    <div class="gameProp" id="pl"> Bots
      <div class="bot" *ngFor="let bot of gameRes.bots">
          <div class="playerProp">Name: {{bot.name}}</div>
          <div class="playerProp">Score: {{bot.score}}</div>
          <div class="playerProp">
            <div class="cards" *ngFor="let card of bot.cards">
                <div class="card">
                    <div class="cardProp">{{card.ranks}}</div>
                    <div class="cardProp">{{card.suit}}</div>
                    <div class="cardProp">{{card.value}}</div>
                </div>
            </div>
          </div><br>
      </div>
    </div>

  </div>



  <div class="gameProp" *ngFor="let item of gameRes.winner">
    Winner: {{item.name}}
  </div>
</div>


  <div (click)="onAllGames()">All Games</div>

<ol>
  <!-- <li *ngFor="let game of allGamesRes.gameList"> -->
    <li *ngFor="let game of allGamesRes">
    <div class="games" (click)="onGame(game.gameId)">
        <p >{{game.gameId}}</p>
    </div>
  </li>
</ol>


