
<br><br><br><br><br><br>

<div *ngIf="isLoginNull" class="alert alert-danger" role="alert">Name can't be NULL</div>
<form [formGroup]="loginForm">
    <div class="input-group">
        <input class="form-control" formControlName="Name" placeholder="Name">
        <div class="input-group-append">
          <button (click)="onLogin()" type="button" class="btn btn-outline-secondary">Action</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu"  >
            <div *ngFor="let name of namesModel.userNames">
              <div (click)="onTempName(name)" class="dropdown-item">{{name}}</div>
          </div>
        </div>
      </div>
    </div>
</form>
