<br><br><br><br><br><br>


<form [formGroup]="myFirstReactiveForm">
    <div class="input-group">


        <input *ngIf="!isLoginNull"class="form-control" formControlName="Name" placeholder="Name" required>
        <input *ngIf="isLoginNull" class="form-control" formControlName="Name" placeholder="Name can't be NULL" border-inline-color: #ff0000;>


        <div class="input-group-append">
          <button (click)="onLogin()" type="button" class="btn btn-outline-secondary">Action</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu"  >
            <div *ngFor="let name of namesModel.userNames">
              <div (click)="onTempName(name)" class="dropdown-item">{{name}}</div>
          </div>
        </div>
      </div>
    </div>
</form>



