<br><br><br>
  <button class="btn btn-primary" (click)="onBack()">Back</button>
<br>

<!-- Game -->
<div class="gameStat" *ngIf="isGame">
  <div class="gameProp">GameId: {{gameRes.gameId}}</div>
  <div class="gameProp">Winner: {{gameRes.winner}} </div>
  <div class="gameProp" id="pl"> User
    <div class="playerProp">Name: {{gameRes.user.name}}</div>
    <div class="playerProp">Score: {{gameRes.user.score}}</div>
      <div class="playerProp">
        <div class="cardss"  *ngFor="let card of gameRes.user.cards">
            <div class="card">
                <div class="cardProp">{{card.ranks}}</div>
                <div class="cardProp">{{card.suit}}</div>
                <div class="cardProp">{{card.value}}</div>
            </div>
        </div>
      </div><br>
    <div class="gameProp" id="pl"> Bots
      <div class="bot" *ngFor="let bot of gameRes.bots">
          <div class="playerProp">Name: {{bot.name}}</div>
          <div class="playerProp">Score: {{bot.score}}</div>
          <div class="playerProp">
            <div class="cardss" *ngFor="let card of bot.cards">
                <div class="card">
                    <div class="cardProp">{{card.ranks}}</div>
                    <div class="cardProp">{{card.suit}}</div>
                    <div class="cardProp">{{card.value}}</div>
                </div>
            </div>
          </div><br>
      </div>
    </div> 
  </div>
</div>

<!-- select -->
<select [(ngModel)]="totalPage.size" [(ngModel)]="userPage.size" (change)="onFirst()">
  <option>3</option>
  <option>5</option>
  <option>10</option>
</select>
<br><br>

<!-- input  (ngModelChange)="statistic()"  -->
<div *ngIf="isUserNotFound" class="alert alert-danger" role="alert">Not Found or haven't games</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button (click)="statistic()" class="input-group-text" id="basic-addon1">Search</button>
  </div>
  <input id="input" [(ngModel)]="userPage.userName" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<!-- table -->
<table class="table">  
  <thead>  
    <tr>  
        <th>UserName</th>  
        <th>Winner</th>  
        <th>Score</th>  
        <th>GameId</th>
    </tr>  
  </thead>  
  <tbody>
    <tr *ngFor="let item of newPage.page" (click)="onGame(item.gameId, item.userName)">  
      <td>{{item.userName}}</td>  
      <td>{{item.winner}}</td>  
      <td>{{item.score}}</td>  
      <td>{{item.gameId}}</td>  
    </tr>  
  </tbody>
</table>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button (click)="onFirst()" class="btn btn-secondary">First</button>
      <button [disabled]="!isPrevious" (click)="onStatPrevious()"  class="btn btn-secondary"><</button>
      <button [disabled]="!isPrevious" (click)="onStatPrevious()"  class="btn btn-secondary">{{newPage.pageNumber -1}}</button>
      <button class="btn btn-secondary">{{newPage.pageNumber}}</button>
      <button [disabled]="!isNext" (click)="onStatNext()"  class="btn btn-secondary">{{newPage.pageNumber +1}}</button>
      <button [disabled]="!isNext" (click)="onStatNext()" class="btn btn-secondary">></button>
      <button  (click)="onLast()"  class="btn btn-secondary">Last</button>
    </div>
  </div>
