<br><br><br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">User Data</h5>
      <h6 class="card-subtitle mb-2 text-muted">Supa dupa player</h6>
      <p class="card-text"> Id: {{userModel.userId}}</p>
      <p class="card-text">Login: {{userModel.userName}} </p>
      <p class="card-text">Points: {{userModel.points}}</p>
      <p class="card-text">Role: {{userModel.role}}</p>
      <div class="btn-group" role="group" aria-label="Basic example">
          <a (click)="onLogout()" class="btn btn-secondary" routerLink="/login" >Logout</a>
          <a (click)="onGame()" class="btn btn-secondary" routerLink="/game">Game</a>
          <a class="btn btn-secondary" routerLink="/statistic">Statistic</a>
        </div>
    </div>
</div>

